.Hamburger__menu {
  display: none;
  z-index: 2;
}

.nav {
  &__mobile_list {
    position: absolute;
    z-index: 1;
    top: 65px;
    left: 0;
    height: 100vh;
    background-color: #f5f5f5;
    overflow: hidden;
    transition: 1s;
    list-style: none;
  }

  &__link-menu {
    display: flex;
    align-items: center;
    height: 100%;
    text-decoration: none;
    padding: 3rem;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 11px;
    letter-spacing: .04em;
    text-transform: uppercase;
    color: #313237;
    font-size: 24px;
    font-weight: bolder;
    color: #89939a;
  }

  &__link-menu--active {
    color: black;
  }

  &__item-menu {
    height: 10vh;
  }

  &__menu-stick {
    position: relative;
    width: 100%;
  }
}

@media screen and (max-width: 1023px) {
  .Hamburger__menu {
    display: block;
  }
}

.cursor {
  cursor: pointer;
}
